<!DOCTYPE html>
<html>
  <head>
    <title>SportUSnews</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title><%= content_for(:title) || "Sport U Snews" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">SportUSnews</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Accueil", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "NBA", articles_path(category_id: 1), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "NFL", articles_path(category_id: 2), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "MLB", articles_path(category_id: 3), class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <%= yield %>
    <footer class="bg-dark text-light py-3">
  <div class="container text-center">
    <p>&copy; 2024 SportUSnews. Tous droits réservés.</p>
  </div>
</footer>

  </body>
</html>
